@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&family=Inter:wght@100;300;400;500;600;700&family=Montserrat&family=Montserrat+Alternates:wght@400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@mixin title-one() {
  color: #e3e3e3;
  font-family: Inria Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin sub-title-one() {
  color: #e3e3e3;
  font-family: Inria Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin title-two {
  color: #151212;
  font-family: Inria Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin sub-title-two {
  color: #151212;
  font-family: Inria Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
}

@mixin paragraph-text($textSize) {
  color: #151212;
  font-family: Inria Sans;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  font-size: $textSize;
}

@mixin flexCenter($direction, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: center;
}

@mixin button() {
  @include flexCenter(normal, center);
  padding: .5rem 1rem;
  border-radius: 3px;
  background: rgb(249, 146, 50);

  color: #FFF;
  font-family: Inria Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.72px;
}

// Header
header {
  background: #1B0234;

  .nav {
    a {
      img {
        margin: 2rem 0;
        mix-blend-mode: screen;
      }
    }
  }

  // Hero
  .hero-section {
    height: auto;

    @include flexCenter(column, normal);

    h1 {
      @include title-one();
    }

    h2 {
      @include sub-title-one();
    }
  }
}

// About Us
.about-us {
  h3 {
    @include title-two();
  }

  p {
    text-align: justify;
  }

  .main-site {
    padding: 1rem 0;

    p {
      font-weight: 700;
    }

    a {
      color: #F99132;
      font-size: 16px;
      font-weight: 700;
    }
  }

  .row {
    @include flexCenter(row, center);

    h3 {
      @include title-two();
      font-size: 24px;
      font-weight: 500;
    }

    .col-4 {
      border-radius: 3px;
      background: #FFF;
      box-shadow: 0px 10px 100px 0px rgba(141, 141, 141, 0.5);
      margin: 1rem .5rem;
      padding: 1rem .5rem;
      width: 400px;

      p {
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.72px;
      }
    }
  }
}

// Index Qualification
.qualifications {
  h3 {
    @include title-two();
  }
}

// CTAs
.cta {
  .row {
    @include flexCenter(column, center);

    .col-md-10 {
      h3 {
        @include title-two();
      }
    }
  }

  button.btn {
    @include button();
  }
}

// Programs Category, List Qualifications, Requirements and Specialization
.programs-section {
  background: #F6F6F6;
  padding: 2rem 0;

  h3 {
    @include title-two();
  }

  .row {
    @include flexCenter(row, center);
    justify-content: center;
    margin: 2rem 0;

    .col-4 {
      border-radius: 3px;
      background: #FFF;
      box-shadow: 0px 10px 100px 0px rgba(141, 141, 141, 0.5);
      margin: 1rem;
      padding: 1rem .5rem;
      width: 400px;

      h4 {
        @include sub-title-two();
        color: #F99132;
        margin-bottom: .75rem;
      }

      p {
        font-weight: 300;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.72px;
      }

      .more {
        justify-content: space-between;
        align-items: center;

        a {
          text-decoration: none;

          p {
            color: rgba(249, 145, 50, 0.75);
          }
        }

      }
    }
  }

  .col-md-4 {
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0px 10px 100px 0px rgba(141, 141, 141, 0.5);
    margin: 1rem;
    padding: .5rem;
    width: 400px;

    @include flexCenter(column, flex-start);
    justify-content: space-between;

    h4 {
      @include sub-title-two();
      color: #F99132;
      margin-bottom: .75rem;
    }

    p {
      font-weight: 300;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.72px;
    }

    .items {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: .5rem 1rem .5rem 0;
      padding: .5rem;
      border-radius: 3px;
      background: rgba(57, 42, 72, 0.10);

      p {
        color: #000;
        font-family: Inria Sans;
        font-size: 9px;
        font-style: normal;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 0.72px;
      }
    }

    .more {
      a {
        p {
          color: rgba(249, 145, 50, 0.95);
          font-family: Montserrat;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0.72px;
        }
      }

      button.btn {
        @include button;
      }
    }

  }
}

// Accreditations
.accreditations {
  .row {

    .col-md-6 {
      @include flexCenter(row, center);

      h3 {
        @include title-two();
      }

      p {
        font-weight: 300;
        font-family: Inria Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.72px;
      }

      a {
        border-radius: 3px;
        background: #FFF;
        box-shadow: 0px 10px 100px 0px rgba(141, 141, 141, 0.5);
        margin: 1rem;
        padding: 1rem .5rem;
      }
    }
  }

}

// Application process
.how-to-apply {
  background: #F6F6F6;
  padding: 2rem 0;

  .row {
    @include flexCenter(row, center);
    justify-content: center;
    margin: 2rem 0;

    .col-md-4 {
      padding: 1rem;
      border-radius: 3px;
      background: #FFF;
      box-shadow: 0px 10px 100px 0px rgba(141, 141, 141, 0.5);
      width: 400px;

      h5 {
        color: #151212;
        font-family: Inria Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
      }

      p {
        font-weight: 300;
        font-family: Inria Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.72px;
      }

      p.number {
        font-size: 28px;
        font-weight: 700;
        color: #F99132;
      }
    }
  }
}

// Qualifications
.qualifications {
  background: #F6F6F6;
  padding: 2rem 0;

  h3 {
    @include title-two();
  }

  button.btn {
    @include button;
  }

  h4 {
    color: #F99132;
    font-family: Inria Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
  }
}

// Testimonial Section
.testimonial-section {
  background: #000;

  .container {
    .swiper-pagination {
      position: relative;
      top: 2.5rem;

      .swiper-pagination-bullet {
        background-color: #f6f6f6;
      }
    }

    .swiper-wrapper {
      .swiper-slide {
        @include flexCenter(row, center);

        .row {
          @include flexCenter(row, center);
          justify-content: center;

          .col-md-7 {
            @include flexCenter(column, flex-start);
            background: #272C33;
            height: fit-content;
            // position: relative;
            // right: 2rem;

            p {
              color: rgba(255, 255, 255, 0.85);
              font-family: Inria Sans;
              font-size: 13px;
              font-style: normal;
              font-weight: 300;
              line-height: 18px;
              letter-spacing: 0.78px;
            }

            .name {
              p {
                color: #FFF;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                span {
                  color: #939599;
                  font-size: 12px;
                }
              }
            }

          }
        }
      }
    }
  }
}

// Footer
footer {
  @include flexCenter(row, center);
  padding: 2rem 0 .25rem 0;
  background: #1B0234;

  .row {
    .col-md-5 {
      a.navbar-brand {
        img {
          width: 250px;
          height: auto;
        }
      }

      .socials {
        @include flexCenter(row, flex-start);
        justify-content: flex-start;
        font-size: 20px;

        .social-icon {
          margin: .5rem 0;
        }

      }

      p {
        color: rgba(255, 255, 240, 0.7);
        font-weight: 100;
        font-family: Inria Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.72px;
      }

      .main-site {

        a {
          color: #F99132;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    .col-md-5 {
      p {
        color: rgba(255, 255, 240, 0.7);
        font-weight: 100;
        font-family: Inria Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.72px;
      }
    }
  }

  .col-md-7 {
    p {
      color: rgba(255, 255, 240, 0.871);
      font-family: Inria Sans;
      font-weight: 300;
      font-size: 14.25px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.72px;
    }

    h5 {
      @include sub-title-two();
      color: #f6f6f6
    }
  }

  .copyright {
    @include flexCenter(row, center);
    margin-top: 1rem;

    p {
      color: rgba(255, 255, 240, 0.871);
      font-family: Inria Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;

      a {
        color: rgb(196, 236, 249);
        font-weight: 700;
      }
    }
  }
}

// Mobile Optimization
@media only screen and (max-width: 767px) {

  h3 {
    @include title-two();
    font-size: 20px;
    font-weight: 700;
  }

  // Header
  header {
    a {
      img {
        width: 90%;
        height: auto;
        mix-blend-mode: screen;
      }
    }

    .hero-section {
      h1 {
        @include title-one();
        font-size: 20px
      }

      h2 {
        @include sub-title-one();
        font-size: 16px;
      }
    }
  }

  // About Us
  .about-us {
    h3 {
      @include title-two();
      font-size: 20px;
      font-weight: 700;
    }

    p {
      font-size: 14px;
    }

    .main-site {
      @include flexCenter(column, center);

      p {
        font-weight: 700;
        text-align: center;
        margin: 0 0 .25rem 0;
        padding: 0;
      }

      a {
        color: #F99132;
        font-size: 16px;
        font-weight: 700;
      }
    }

    .row {

      .col-4 {
        padding: 1rem;
        width: 90dvw;
      }
    }
  }

  // Index Qualifications
  .qualifications {
    h3 {
      @include title-two();
      font-size: 20px;
      font-weight: 700;
    }

    ul {
      li {
        font-size: 14px;
      }
    }
  }


  // CTAs
  .cta {
    h3 {
      @include title-two();
      font-size: 20px;
      font-weight: 700;
    }

    p {
      font-size: 14px;

      br {
        display: none
      }
    }
  }

  // Programs Category, List Qualifications, Requirements and Specialization
  .programs-section {
    h3 {
      @include title-two();
      font-size: 20px;
      font-weight: 700;
    }

    .row {
      @include flexCenter(column, center);
      justify-content: center;
      margin: 2rem 0;

      .col-4 {
        p {
          font-size: 12px;
        }

        width: 99dvw !important;
      }
    }

    .col-md-4 {
      p {
        font-size: 12px;
      }

      width: 99dvw !important;
    }
  }

  // Application Process
  .how-to-apply {
    .row {
      @include flexCenter(column, center);

      h3 {
        @include title-two();
        font-size: 20px;
        font-weight: 700;
      }

      .col-md-4 {
        width: 99dvw;

        p {
          font-size: 14px;
        }
      }
    }
  }

  // Index Qualification
  .qualifications {
    h3 {
      @include title-two();
      font-size: 20px;
      font-weight: 700;
    }

    p {
      font-size: 14px;
    }
  }

  // Testimonial Section
  .testimonial-section {
    background: #000;
    text-align: justify;

    .container {
      .swiper-wrapper {
        .swiper-slide {
          .row {

            .col-md-3 {
              img {
                display: none;
              }
            }

            .col-md-7 {
              position: relative;
              right: 0;
              left: 0;
              padding: 2rem .5rem !important;

              p {
                font-size: 12px;

                p.name {
                  font-size: 8px;
                  opacity: 0;
                }
              }

              .details {
                display: flex !important;

                img {
                  width: 75px;
                  height: auto;
                  border-radius: 4px;
                }

                p {
                  color: #FFF;
                  font-family: Montserrat;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;

                  position: relative;
                  top: 2rem;

                  span {
                    color: #ffffffc8;
                    font-size: 10px;
                  }
                }
              }

              .name {
                display: none !important;
              }

            }
          }
        }
      }
    }
  }

  // Accreditations
  .accreditations {
    .row {
      .col-md-6.text {
        display: none;
      }
    }
  }

  // Footer
  footer {
    .copyright {
      p {
        font-size: 12px;
      }
    }
  }
}