@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&family=Inter:wght@100;300;400;500;600;700&family=Montserrat&family=Montserrat+Alternates:wght@400;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  background: #1B0234;
}
header .nav a img {
  margin: 2rem 0;
  mix-blend-mode: screen;
}
header .hero-section {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
}
header .hero-section h1 {
  color: #e3e3e3;
  font-family: Inria Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
header .hero-section h2 {
  color: #e3e3e3;
  font-family: Inria Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-us h3 {
  color: #151212;
  font-family: Inria Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about-us .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.about-us .row h3 {
  color: #151212;
  font-family: Inria Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 24px;
  font-weight: 500;
}
.about-us .row .col-4 {
  border-radius: 3px;
  background: #FFF;
  box-shadow: 0px 10px 100px 0px rgba(141, 141, 141, 0.5);
  margin: 1rem 0.5rem;
  padding: 1rem 0.5rem;
  width: 400px;
}
.about-us .row .col-4 p {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.72px;
}

.qualifications h3 {
  color: #151212;
  font-family: Inria Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cta .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cta .row .col-md-10 h3 {
  color: #151212;
  font-family: Inria Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cta button.btn {
  display: flex;
  flex-direction: normal;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background: rgb(249, 146, 50);
  color: #FFF;
  font-family: Inria Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.72px;
}

.programs-section {
  background: #F6F6F6;
  padding: 2rem 0;
}
.programs-section h3 {
  color: #151212;
  font-family: Inria Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.programs-section .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: center;
  margin: 2rem 0;
}
.programs-section .row .col-4 {
  border-radius: 3px;
  background: #FFF;
  box-shadow: 0px 10px 100px 0px rgba(141, 141, 141, 0.5);
  margin: 1rem;
  padding: 1rem 0.5rem;
  width: 400px;
}
.programs-section .row .col-4 h4 {
  color: #151212;
  font-family: Inria Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  color: #F99132;
  margin-bottom: 0.75rem;
}
.programs-section .row .col-4 p {
  font-weight: 300;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.72px;
}
.programs-section .row .col-4 .more {
  justify-content: space-between;
  align-items: center;
}
.programs-section .row .col-4 .more a {
  text-decoration: none;
}
.programs-section .row .col-4 .more a p {
  color: rgba(249, 145, 50, 0.75);
}
.programs-section .col-md-4 {
  border-radius: 3px;
  background: #FFF;
  box-shadow: 0px 10px 100px 0px rgba(141, 141, 141, 0.5);
  margin: 1rem;
  padding: 0.5rem;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  justify-content: space-between;
}
.programs-section .col-md-4 h4 {
  color: #151212;
  font-family: Inria Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  color: #F99132;
  margin-bottom: 0.75rem;
}
.programs-section .col-md-4 p {
  font-weight: 300;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.72px;
}
.programs-section .col-md-4 .items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 0.5rem;
  border-radius: 3px;
  background: rgba(57, 42, 72, 0.1);
}
.programs-section .col-md-4 .items p {
  color: #000;
  font-family: Inria Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.72px;
}
.programs-section .col-md-4 .more a p {
  color: rgba(249, 145, 50, 0.95);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.72px;
}
.programs-section .col-md-4 .more button.btn {
  display: flex;
  flex-direction: normal;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background: rgb(249, 146, 50);
  color: #FFF;
  font-family: Inria Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.72px;
}

.accreditations .row .col-md-6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.accreditations .row .col-md-6 h3 {
  color: #151212;
  font-family: Inria Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.accreditations .row .col-md-6 p {
  font-weight: 300;
  font-family: Inria Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.72px;
}
.accreditations .row .col-md-6 a {
  border-radius: 3px;
  background: #FFF;
  box-shadow: 0px 10px 100px 0px rgba(141, 141, 141, 0.5);
  margin: 1rem;
  padding: 1rem 0.5rem;
}

.how-to-apply {
  background: #F6F6F6;
  padding: 2rem 0;
}
.how-to-apply .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: center;
  margin: 2rem 0;
}
.how-to-apply .row .col-md-4 {
  padding: 1rem;
  border-radius: 3px;
  background: #FFF;
  box-shadow: 0px 10px 100px 0px rgba(141, 141, 141, 0.5);
  width: 400px;
}
.how-to-apply .row .col-md-4 h5 {
  color: #151212;
  font-family: Inria Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.how-to-apply .row .col-md-4 p {
  font-weight: 300;
  font-family: Inria Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.72px;
}
.how-to-apply .row .col-md-4 p.number {
  font-size: 28px;
  font-weight: 700;
  color: #F99132;
}

.qualifications {
  background: #F6F6F6;
  padding: 2rem 0;
}
.qualifications h3 {
  color: #151212;
  font-family: Inria Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.qualifications button.btn {
  display: flex;
  flex-direction: normal;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background: rgb(249, 146, 50);
  color: #FFF;
  font-family: Inria Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.72px;
}
.qualifications h4 {
  color: #F99132;
  font-family: Inria Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.testimonial-section {
  background: #000;
}
.testimonial-section .container .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.testimonial-section .container .swiper-wrapper .swiper-slide .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: center;
}
.testimonial-section .container .swiper-wrapper .swiper-slide .row .col-md-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: #272C33;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  right: 6rem;
}
.testimonial-section .container .swiper-wrapper .swiper-slide .row .col-md-7 p {
  color: rgba(255, 255, 255, 0.75);
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.78px;
}
.testimonial-section .container .swiper-wrapper .swiper-slide .row .col-md-7 p.name {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.testimonial-section .container .swiper-wrapper .swiper-slide .row .col-md-7 p.name span {
  color: #939599;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 0.25rem 0;
  background: #1B0234;
}
footer .row .col-md-5 a.navbar-brand img {
  width: 250px;
  height: auto;
}
footer .row .col-md-5 .socials {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  justify-content: flex-start;
  font-size: 20px;
}
footer .row .col-md-5 .socials .social-icon {
  margin: 0.5rem 0;
}
footer .row .col-md-5 p {
  color: rgba(255, 255, 240, 0.7);
  font-weight: 100;
  font-family: Inria Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.72px;
}
footer .row .col-md-5 p {
  color: rgba(255, 255, 240, 0.7);
  font-weight: 100;
  font-family: Inria Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.72px;
}
footer .col-md-7 p {
  color: rgba(255, 255, 240, 0.871);
  font-family: Inria Sans;
  font-weight: 300;
  font-size: 14.25px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.72px;
}
footer .col-md-7 h5 {
  color: #151212;
  font-family: Inria Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  color: #f6f6f6;
}
footer .copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
footer .copyright p {
  color: rgba(255, 255, 240, 0.871);
  font-family: Inria Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
footer .copyright p a {
  color: rgb(196, 236, 249);
  font-size: 18px;
  font-weight: 400;
}

@media only screen and (max-width: 767px) {
  h3 {
    color: #151212;
    font-family: Inria Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 20px;
    font-weight: 700;
  }
  header a img {
    width: 90%;
    height: auto;
    mix-blend-mode: screen;
  }
  header .hero-section h1 {
    color: #e3e3e3;
    font-family: Inria Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 20px;
  }
  header .hero-section h2 {
    color: #e3e3e3;
    font-family: Inria Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 16px;
  }
  .about-us h3 {
    color: #151212;
    font-family: Inria Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 20px;
    font-weight: 700;
  }
  .about-us p {
    font-size: 14px;
  }
  .about-us .row .col-4 {
    padding: 1rem;
    width: 90dvw;
  }
  .qualifications h3 {
    color: #151212;
    font-family: Inria Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 20px;
    font-weight: 700;
  }
  .qualifications ul li {
    font-size: 14px;
  }
  .cta h3 {
    color: #151212;
    font-family: Inria Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 20px;
    font-weight: 700;
  }
  .cta p {
    font-size: 14px;
  }
  .cta p br {
    display: none;
  }
  .programs-section h3 {
    color: #151212;
    font-family: Inria Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 20px;
    font-weight: 700;
  }
  .programs-section .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    margin: 2rem 0;
  }
  .programs-section .row .col-4 {
    width: 99dvw !important;
  }
  .programs-section .col-md-4 {
    width: 99dvw !important;
  }
  .how-to-apply .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .how-to-apply .row h3 {
    color: #151212;
    font-family: Inria Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 20px;
    font-weight: 700;
  }
  .how-to-apply .row .col-md-4 {
    width: 99dvw;
  }
  .how-to-apply .row .col-md-4 p {
    font-size: 14px;
  }
  .qualifications h3 {
    color: #151212;
    font-family: Inria Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 20px;
    font-weight: 700;
  }
  .qualifications p {
    font-size: 14px;
  }
  .testimonial-section {
    background: #000;
    text-align: justify;
  }
  .testimonial-section .container .swiper-wrapper .swiper-slide .row .col-md-3 img {
    display: none;
  }
  .testimonial-section .container .swiper-wrapper .swiper-slide .row .col-md-7 {
    position: relative;
    right: 0;
    left: 0;
    padding: 2rem 1rem !important;
  }
  .testimonial-section .container .swiper-wrapper .swiper-slide .row .col-md-7 p {
    font-size: 12px;
  }
  .testimonial-section .container .swiper-wrapper .swiper-slide .row .col-md-7 p p.name {
    font-size: 10px;
  }
  .accreditations .row .col-md-6.text {
    display: none;
  }
  footer p {
    font-size: 10px;
  }
}/*# sourceMappingURL=scss-styles.css.map */